.footer {
    background-color: $footer-bgcolor;
    color: $footer-txtcolor;
    padding: 24px;
    position: relative;
    & img {
        width: 120px;
    }
    & a {
        color: $footer-txtcolor;
    }
    & ul {
        line-height: 30px;
        padding-top: 16px;
    }
}



