.pinkbutton {
    font-family: $primary-font;
    color: $footer-txtcolor;
    padding: 16px;
    border: 1px;
    border-color: $secondary-color $primary-color $primary-color $secondary-color;
    border-radius: 50px;
    background: linear-gradient(to left top, $primary-color, $secondary-color);
    cursor: pointer;
    @include box-shadow; 
    transition: all 400ms linear;
    &:hover {
        background: linear-gradient(to left top, lighten($primary-color, 10), lighten($secondary-color, 10));
        @include strongerbox-shadow;
    } 
   
}

.greybutton {
    font-family: $primary-font;
    font-weight: bold;
    font-size: 0.9em;
    background-color: $main-bgcolor;
    padding: 16px 16px 16px 32px;
    border-radius: 16px;
    border: 1px solid $main-bgcolor;
    width: 100%;
    height: 60px;
    cursor: pointer;
    @include box-shadow;
    display: flex;
    position: relative;
    align-items: center;
    transition: all .250s linear;
    &:hover {
        background-color: $lightprimary-color;
        .operation__form__icon {
            color: $primary-color;
        }
    }    
}