.pinkbutton {
    font-family: $primary-font;
    color: $footer-txtcolor;
    padding: 16px;
    border: 1px;
    border-color: $secondary-color $primary-color $primary-color $secondary-color;
    border-radius: 50px;
    background: linear-gradient(to left top, $primary-color, $secondary-color);
    box-shadow: 1px 3px 2px 1px #e6e4e4;
    
}