*{box-sizing: border-box;}
body {
    margin: auto;
    max-width: 1920px;
}
img {
    object-fit: cover;
    max-width: 1920px;
}
a {
    &:link { 
        text-decoration: none;
        color: $text-color;
    }
    &:visited { 
    text-decoration: none;
    color:$text-color;
    }
    &:active {
    text-decoration: none;
    }
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}