.spin {
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: $lightprimary-color;
    animation: hide 2s 1.5s linear 1 forwards;
    &::before {
        display: block;
        content: "";
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: $primary-color solid 10px;
        border-bottom-color: $secondary-color;
        border-top-color: $secondary-color;
        animation: spin 2s linear 1 forwards;
        position:absolute;
        top: 50%;
        left: 50%;  
        transform: translate(-50%, -50%);
        will-change: transform;
    }
}


.location {
    display:flex;
    justify-content: center;
    background: linear-gradient( #cfcfcf 5%, 10% , $main-darkerbgcolor);
    padding: 20px 0;
    & input {
        border: none;
        background-color: transparent;
        padding: 0 0 0 10px;
        color: $footer-bgcolor;
        font-size: 1.05em;
        font-family: $primary-font;
        font-weight: bold;
    }
        & ::placeholder {
            color: $footer-bgcolor;
            font-weight: bold;
        }
    & i {
        padding: 0 0 0 60px;
    }    
}

.presentation {
    background-color: $main-bgcolor;
    display: flex;
    flex-direction:column;
    & p {
        text-align: center;
        margin: 0;
        padding: 20px;
        color: $footer-bgcolor;
        font-weight:300;
        }
    & .h1__homepage {
            font-family: $primary-font;
            text-align: center;
            margin: 0;
            padding-top: 40px;
            font-size:$hometitle-size;
    }
    & .pinkbutton {
        margin: 10px 70px 60px 70px;
    }
}

.operation {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 32px;
    @media only screen and (min-width: 768px) {
        h2 {
            text-align: center;
        }
    }
    & .operation__form {
        display:flex;
        align-items: baseline;
        margin: 20px 0;
        position:relative;
    }
        & ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            @media only screen and (min-width: 768px) {
                flex-direction: row;
                justify-content: center;
                gap: 40px;
            }
        }
        & p {
            background-color: $primary-color;
            color: $footer-txtcolor;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 50px;
            border: solid $primary-color 5px;
            padding: 5px;
            font-size: smaller;
            position: absolute;
            left: -10px;
        }
        & i {
            color: $icone-color;
            width: 40px;
            height: 16px;
            &:hover {
                color: $primary-color;
        }
    }    
}

.restaurants {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 56px 20px;
    background-color: $main-bgcolor; 
    @media only screen and (min-width: 768px) {
        h2 {
            text-align: center;
        }
    }
    & .restaurants__flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media only screen and (min-width: 992px) {
            flex-direction: row;
        }
    }
    & a {
        @media only screen and (min-width: 992px) {
            width: 50%;
        }
    }
    & article {
        background-color: $footer-txtcolor;
        border-radius: 14px;
        @include box-shadow;
        width:100%;
        margin: 0;
        padding: 0;
        position: relative;
        transition: all .5s ease;
        &:hover {
            @include strongerbox-shadow;
        }
    } 
    & .restaurants__img {    
        & img {
            width: 100%;
            border-radius: 14px 14px 0 0;
            height: 200px;
        }
        & p {
            background-color: $tertiary-color;
            color: $darktertiary-color;
            font-weight: bold;
            padding: 12px;
            width: 120px;
            position: absolute;
            border-radius: 8px;
            text-align: center;
            top: 1px;
            right: 16px;   
        }
    }
    & .restaurants__texte {
        position:relative;
        padding: 16px;
        & h3 {
            margin:0;
        }
        & p {
            margin:0;
            font-weight: 300;
        }
    }  
}          
.heart {
    font-size: 25px;
        & .empty-heart {
            z-index: 100;
            position: absolute;
            top: 25px;
            right: 24px;
            background-color: $footer-txtcolor;
            transition: animation 3s linear 1s;
            
                &:hover {
                    animation: heart 3s cubic-bezier(0.88, -0.03, 1, 0.53) 1 both;
                    background: linear-gradient(to left top, $primary-color, $secondary-color);
                    mix-blend-mode: lighten;
                    color: transparent;
                }
        }
        & .full-heart {
                color:$primary-color;
                position: absolute;
                top: 25px;
                right: 24px;
                 
                
        }
}


