.location {
    display:flex;
    justify-content: center;
    background-color: $main-darkerbgcolor;
    padding: 20px 0;
    box-shadow: 0px 2px 2px 1px inset #cfcfcf;
    & input {
        border: none;
        background-color: transparent;
        padding: 0 0 0 10px;
        color: $footer-bgcolor;
    }
        & ::placeholder {
            color: $footer-bgcolor;
        }
    & i {
        padding: 0 0 0 60px;
    }    
}
.presentation {
    background-color: $main-bgcolor;
    display: flex;
    flex-direction:column;
    & p {
        text-align: center;
        margin: 0;
        padding: 20px;
        color: $footer-bgcolor;
        font-weight:300;
        }
    & .h1__homepage {
            font-family: $primary-font;
            text-align: center;
            margin: 0;
            padding-top: 40px;
            font-size:$hometitle-size;
    }
    & .pinkbutton {
        margin: 10px 70px 60px 70px;
    }
}

.operation {
    display: flex;
    flex-direction: column;
    padding: 20px;
    & li {
        width: 300px;
    }
    & .operation__form {
        display:flex;
        align-items: baseline;
        margin: 20px 0;
        position:relative;
    }
        & p {
            background-color: $primary-color;
            color: $footer-txtcolor;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 50px;
            border: solid $primary-color 5px;
            padding: 5px;
            font-size: smaller;
            position: relative;
            left: 26px;
        }
        & i {
            color: $icone-color;
            width: 20px;
            height: 16px;
            position: relative;
            left: 40px;
            &:hover {
                color: $primary-color;
            }
        }    
}
.restaurants {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $main-bgcolor;
    & article {
        background-color: $footer-txtcolor;
        border-radius: 14px;
        @include box-shadow;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        &:hover {
            background-color: $lightprimary-color;
        }
    } 
    & .restaurants__img {    
        & img {
            width: 100%;
            border-radius: 14px 14px 0 0;
            height: 200px;
        }
        & p {
            background-color: $tertiary-color;
            color: $darktertiary-color;
            font-weight: bold;
            padding: 12px;
            width: 120px;
            position: absolute;
            border-radius: 8px;
            text-align: center;
            top: 1px;
            right: 16px;   
        }
    }
    
}
