.header__menu {
    display: inline-flex;
    align-items:center;
        & img {
            margin:auto;
            padding: 14px;
        }
        & i {
            margin:auto;
            padding: 20px 40px;
            font-size: 20px;
        }
}

.img__menu {
    width: 100%;
    position:absolute;
}

.menu {
    background-color: $main-bgcolor;
    border-radius: 15px 15px 0 0;
    padding: 20px;
    position: relative;
    top:200px;

}
.form__menu {
    & .pinkbutton {
        width: 180px;
    }
}