
.img__menu {
    width: 100%;
    position:absolute;
}

.menu {
    background-color: $main-bgcolor;
    border-radius: 15px 15px 0 0;
    padding: 20px;
    position: relative;
    top:200px;
        & .menu__h1 {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
                & i {
                    font-size: 25px;
                }
        }
        & .menu__form {
            & h2 {
                border: solid 3px transparent;
            }
            & span {
                border-bottom: solid 3px $tertiary-color;
            }
            & .pinkbutton {
                width: 180px;
            }
        }

}
