.header__menu {
    display:flex;
    align-items:center;
}
.header__menu img {
    margin:auto;
    padding: 14px;
}
.header__menu i {
    margin:auto;
    padding: 20px 40px;
    height: 20px;
}

.menu__img {
    width: 100%;
}