@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
        opacity: 0;
        display: none;
        
    }
} 

@keyframes hide {
    0% {
        position: fixed;
        opacity:1;
    }
    100% {
        opacity: 0;
        display: none;
        position: initial;
    }
}

@keyframes heart {
    0% {
        z-index: 100;
        opacity: 1;
    }
    50% {
        opacity: 0.5;
        
    }
    100% {
        z-index: -1000;
        opacity: 0;      
    }
}

@keyframes rotate {
   100% {
        transform: rotate(360deg);
    }

}

@keyframes appear {
    0% {
        transform: scale(0);
        width:0%;
        
    }
    100% {
        transform:scale(1);
        width: 10%;
       
    }
}