/*Fonts Style*/
$primary-font: 'Roboto', verdana, sans-serif;
$secondary-font: 'Shrikhand', 'roboto', sans-serif;

/*Fonts Size*/
$hometitle-size: 1.5em;

/*Colors*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$footer-bgcolor: #353535;
$footer-txtcolor: white;
$text-color: black;
$main-bgcolor: #F6F6F6;
$main-darkerbgcolor: #EAEAEA;